* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* -------------------------------------------------------------- */

body {
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px 0px 0px 50px;
}

h1 {
   font-size: 32px;
   margin: 0px 0px 20px 0px;
   font-weight: 700;
}

h2 {
   font-size: 32px;
   margin: 0px 0px 20px 0px;
}

p {
   font-size: 18px;
   line-height: 1.2;
}

.row {
   display: flex;
   margin: 0px -40px;
}
.row__item {
   padding: 0px 40px;
   flex: 1 1 33.333%;
}
.card__image {
   height: 180px;
   overflow: hidden;
}
.card__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
.card__body {
   border-radius: 0px 0px 5px 5px;
   border: 1px gray solid;
   border-top: none;
   padding: 20px;
}

.card__title {
   margin: 0px 0px 20px 0px;
}
.card__text {
   margin: 0px 0px 15px 0px;
}

.btns {
   display: inline-block;
   padding: 10px 20px;
   margin: 0px 0px 10px 0px;

   font-size: 24px;
   color: white;
   border-radius: 5px;
}
.card__primary {
   background-color: rgb(0, 24, 240);
}
.card__danger {
   background-color: rgb(228, 9, 38);
}
